.Posts h1 {
  font-size: 1.6em;
  font-weight: 600;
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.post-loader {
  max-width: 400px;
  margin-top: 200px;
  margin-right: 200px;
  text-align: center;
}

.Post {
  margin: 30px 0;
  max-width: 700px;
  width: 90vw;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid #000; */
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.user-profile {
  width: 60px;
  height: 60px;
  align-self: flex-start;
  margin-right: 5px;
}

.user-profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.post,
.comment {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

.post-header,
.comment-header {
  display: flex;
  flex-direction: column;
}

.post-date,
.comment-date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}

.post-date p,
.comment-date p {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  margin-right: 4px;
  margin-bottom: 0;
  font-size: 0.9em;
}

.post-title h2 {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 0;
}

.username h2 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

.post-desc,
.comment-desc {
  margin: 10px 0;
}

.post-desc p,
.comment-desc p {
  margin-bottom: 0;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

.answers {
  background-color: #eee;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.answers button {
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  font-size: 0.9em;
}

.answers button:first-child {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.6);
}

.answers button:first-child svg {
  font-size: 22px;
  margin-right: 5px;
}

.answers button:last-child {
  background-color: #000;
  color: #fff;
  border: none;
}

.Comment,
.postComment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.Comment:last-child {
  border-bottom: none;
}

.postComment {
  border-bottom: none;
}

.post-comment-body {
  width: 100%;
  margin-left: 10px;
}

.postComment textarea {
  width: 100%;
  padding: 5px 10px;
  height: 100px;
  margin: 5px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  outline: none;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
}

.post-comment-buttons {
  text-align: right;
}

.post-comment-buttons button {
  cursor: pointer;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  outline: none;
  padding: 5px 15px;
  font-weight: 500;
  font-size: 0.9em;
}

.post-comment-buttons button:first-child {
  border: 0.05em solid rgba(0, 0, 0, 0.6);
}
.post-comment-buttons button:last-child {
  background-color: #006eff;
  color: #fff;
}
