.profile-card {
	margin-left: 280px;
	display: flex;
	background: white;
	width: 85%;
	max-width: 1000px;
	padding: 20px;
}

.profile-image {
	max-width: 170px;
	height: 250px;
	flex: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: white;

	margin: 0 30px;
	margin-top: 50px;
	border-radius: 20px;
	box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
}

.profile-details {
	flex: 70%;
	padding: 20px;
}
.profile-image img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	width: 150px;
	height: 150px;
	object-fit: cover;
	margin: 20px 0;
}
.profile-image h6 {
	font-weight: 600;
}
.profile-image p {
	font-weight: 600;
	color: gray;
	font-size: 0.9em;
}
.student-detail {
	display: grid;
	grid-template-columns: minmax(150px, 1.33fr) minmax(150px, 2.33fr);
}
.profile-name h1 {
	font-size: 1.5em;
	font-weight: 700;
}
.profile-name p {
	font-size: 0.9em;
	font-weight: 600;
}
.profile-name {
	padding: 20px;
	border-bottom: 0.5px solid lightgray;
	position: relative;
}

.student-detail div {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.student-detail div p {
	font-weight: 500;
	color: rgb(100, 100, 100);
}

.profile-edit-button {
	position: absolute;
	top: 5%;
	right: 3%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: inherit;
	border: none;
	outline: none;
	font-size: 1.5em;
	color: rgba(100, 100, 100);
}
profile-edit-button:hover {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}

@media only screen and (max-width: 900px) {
	.profile-card {
		margin-left: 50px;
	}
}

@media only screen and (max-width: 600px) {
	.profile-card {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.student-detail div {
		display: grid;
		flex-direction: row;
		margin: 10px;
	}
	.student-detail div > * {
		margin: 0 20px;
	}
}
