.Leaderboard {
  /* max-width: 600px; */
  /* height: 350px; */
  overflow: scroll;
  padding: 15px;
}
.Leaderboard::-webkit-scrollbar {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0;
}

.header select {
  width: 100px;
  outline: none;
  cursor: pointer;
  border: none;
  background: #f1f1f1;
  padding: 5px;
  font-weight: 600;
  margin: 0;
}
.header select:focus {
  border: 0.5px solid blue;
}

table .title {
  background-color: #f3f3f3;
  padding: 10px;
}

table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  padding: 10px;
}

table th {
  font-size: 13px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  padding: 10px;
}

table td {
  margin: 5px 0;
  padding: 10px;
}

table tr {
  border: none;
  padding: 10px;
}

.Student {
  width: 100%;
  align-items: center;
}

.Student img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.Student .name {
  display: flex;
  align-items: center;
}

.Student td,
.name h3 {
  font-size: 13px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
