.header {
	font-size: 30px;
	font-weight: 900;
	text-align: center;
}

.post-loader {
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	position: absolute;
	top: 0;
	left: 0;
}

.course-content {
	width: 25%;
	/* min-width: 250px; */
	margin-top: 14vh;
	height: calc(100vh - 100px);
	overflow-y: scroll;
	position: fixed;
	top: 0%;
	right: 0%;
	background: white;
	font-size: 0.8em;
}

.course-content::-webkit-scrollbar {
	width: 5px;
}
.course-content::-webkit-scrollbar-track {
	background: whitesmoke;
}
.course-content::-webkit-scrollbar-thumb {
	background: lightgray;
}

.lesson_name {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f4f4f4;
	cursor: pointer;
	padding: 15px 10px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 5px;
}

.lesson_name h5 {
	font-size: 1em;
	font-weight: 600;
}

.course-content-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	font-size: 1.2em;
	font-weight: 400;
	height: 50px;
}

.course-content-header h4 {
	font-size: 1em;
	font-weight: 650;
	margin-bottom: 0;
}

.course-title {
	font-size: 1.2em;
	font-weight: 650;
	padding: 10px;
	margin-bottom: 0;
	color: rgba(255, 255, 255, 0.8);
	background: black;
}

.lesson_name button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	outline: none;
	background: inherit;
	cursor: pointer;
	color: gray;
	border-radius: 50%;
}

.single-lesson-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	padding: 15px 10px;
	font-size: 0.9em;
	font-weight: 500;
}
.single-lesson-content:hover {
	background: #f7f7f7;
}
.single-lesson-content input {
	margin-right: 15px;
}
.single-lesson-content p {
	font-size: 1.5em;
	margin-bottom: 0;
}
.single-lesson-content .label {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.course-overview {
	padding: 20px;
	color: rgb(90, 90, 90);
}
.course-overview h2 {
	font-size: 1.6em;
	font-weight: 600;
}
.course-overview h5 {
	font-size: 1.2em;
	font-weight: 600;
	color: rgb(70, 70, 70);
	margin-top: 10px;
	margin-bottom: 20px;
}
.course-overview p {
	font-size: 0.95em;
	font-weight: 450;
	color: gray;
}
.course-overview div {
	padding: 10px;
	border-bottom: 1px solid lightgray;
}

.course-content-responsive .single-course-content .lesson_name {
	padding-left: 30px;
}
.course-content-responsive .course-content-header {
	padding-left: 30px;
}
.overview-headers {
	display: flex;
	padding-left: 30px;
	height: 50px;
	background: #f4f4f4;
}

.responsive-overview {
	display: none;
}

.overview-headers button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border: none;
	outline: none;
	background: inherit;
	width: 100px;
}
.overview-headers button:focus {
	border-bottom: 5px solid gray;
}
.default-lesson {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.default-lesson img {
	height: auto;
	height: 350px;
	object-fit: contain;
}
.all-course-content {
	width: 100%;
	min-height: 350px;
	height: object-fit;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	position: relative;
}
.lesson-pdf-document {
	width: 100%;
}
iframe {
	height: 350px;
}

.media-player {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.react-player {
	width: 100%;
	height: auto;
	object-fit: contain;
}
.lesson-text,
.lesson-homework,
.lesson-assignment,
.course-quiz {
	width: 100%;
	max-width: 700px;
	height: 40vh;
	background-color: white;
	color: black;
	padding: 20px;
	overflow: scroll;
}

.lesson-homework,
.lesson-assignment,
.course-quiz {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.lesson-homework button,
.lesson-assignment button,
.course-quiz button {
	cursor: pointer;
	font-size: 0.8em;
	width: 25%;
	min-width: 75px;
	height: 40px;
	background-color: rgb(0, 157, 255);
	border: none;
	outline: none;
	color: white;
}

.lesson-homework button:hover,
.lesson-assignment button:hover,
.course-quiz button:hover {
	border: 1px solid black;
	background-color: white;
	color: black;
}

@media only screen and (max-width: 900px) {
	.responsive-overview {
		display: block;
	}
	.unresponsive {
		display: none;
	}
	.lesson_name {
		padding: 10px;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 5px;
		font-size: 0.8em;
	}
	.single-lesson-content {
		font-size: 0.8em;
		font-weight: 500;
	}
	.all-course-content {
		width: 100%;
		min-height: 25vh;
	}
	iframe {
		height: 50vh;
	}
}
