.Subject {
	width: 300px;
	height: 120px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: white;
	box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
	margin: 10px 0;
	padding: 15px;
	border-radius: 15px;
	font-size: 0.9em;
	font-weight: 600;
	color: gray;
}
.box1 {
	margin: 50px 0;
	width: fit-content;
	height: fit-content;
	padding: 25px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}
.Subject h2 {
	font-size: 1.4em;
	color: black;
}
.box1 h1 {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 20px;
}
